body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: #fff;
}
.navbar {
  background-color: #212529;
  padding: 10px;
}
.navbar-brand {
  /* padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color); */
  text-decoration: none;
  white-space: nowrap;
}
.home {
  background-color: #1abc9c;
}

.footer {
  background-color: #212529;
  padding: 10px;
}
